body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #taskForm {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }

  #taskName {
    width: 44%;
  }
  
  label {
    margin-top: 10px;
    display: block;
  }
  
  input {
    width: 100px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input:focus {
    outline: none
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  button {
    outline: none;
  }
  
  #taskList {
    margin-top: 20px;
  }
  
  .taskItem {
    background-color: #e7f3fe;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
  }
  
  #finishButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #finishButton:hover {
    background-color: #218838;
  }
  